/* ============================================================
   Project: Music History App
   Author:  Nathan T. Baker
   Created: 10/7/2016
   Updated: 10/20/2016
   Notes:   I did this while in Nashville Software School.
   ============================================================ */

body {
  min-width: 280px;
}

.controls {
  background-color: #F8F8F8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 20px 0;
}

.controls h2 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  color: grey;
}

.controls h3 {
  font-size: 1.4em;}

article {
  background-color: #eee;
  padding: 15px;
  border-radius: 8px;
}